.vscode/launch.json
__pycache__/model.cpython-39.pyc
__pycache__/model2.cpython-39.pyc
HW2/__pycache__/model.cpython-37.pyc
HW2/__pycache__/vispy_canvas.cpython-37.pyc
HW-2/__pycache__/model.cpython-37.pyc
HW-2/__pycache__/vispy_canvas.cpython-37.pyc
HW-2/Task-1/__pycache__/model.cpython-37.pyc
HW-2/Task-1/__pycache__/vispy_canvas.cpython-37.pyc
Big-HW-1/__pycache__/model.cpython-37.pyc
Big-HW-1/__pycache__/plots.cpython-37.pyc
HW2/Task1/__pycache__/gui.cpython-37.pyc
HW2/Task1/__pycache__/model.cpython-37.pyc
HW2/Task1/__pycache__/vispy_canvas.cpython-37.pyc
HW2/Task1/UIDesign/__pycache__/gui.cpython-37.pyc
Big-HW-1/Task/__pycache__/model.cpython-37.pyc
Big-HW-1/Task/__pycache__/plots.cpython-37.pyc
EEEEEXPERIMENTS/animation/__pycache__/config.cpython-37.pyc
EEEEEXPERIMENTS/animation/__pycache__/trajectories.cpython-37.pyc
EEEEEXPERIMENTS/animation/resources/out/task1.gif
